<div class="mb-3{% if aErrors.oxuser__oxusername %} is-invalid{% endif %}">
    <div class="form-floating">
        <input class="oxValidate_enterPass oxValidate_enterPassTarget[oxValidate_pwd] form-control" type="email" id="invadr[oxuser__oxusername]" name="invadr[oxuser__oxusername]" value="{% if invadr.oxuser__oxusername is defined %}{{ invadr.oxuser__oxusername }}{% else %}{{ oxcmp_user.oxuser__oxusername.value }}{% endif %}" size="37" required>
        <label for="invadr[oxuser__oxusername]" class="req">{{ translate({ ident: "EMAIL_ADDRESS" }) }}</label>
    </div>
    {% include "message/inputvalidation.html.twig" with {aErrors: aErrors.oxuser__oxusername} %}

        <div class="help-block"></div>
</div>

{% if oxcmp_user.oxuser__oxpassword.value %}
    <div class="oxValidate_pwd mb-3{% if aErrors.oxuser__oxpassword %} is-invalid{% endif %}"{% if not aErrors.oxuser__oxpassword %} style="display:none;"{% endif %}>
        <div class="form-floating">
            <input id="user_password" class="form-control" type="password" name="user_password" size="37">
            <label for="user_password" class="req">{{ translate({ ident: "PASSWORD" }) }}</label>
        </div>
        {% include "message/inputvalidation.html.twig" with {aErrors: aErrors.oxuser__oxpassword} %}
    </div>
{% endif %}
