{% for _block in oxidBlock_sidebar %}
    {{ _block|raw }}
{% endfor %}

{% block sidebar %}
    {% block sidebar_categoriestree %}
        {% if oView.getClassName() == 'alist'  %}
            <div class="box card categorytree">
                <div class="page-header h3">
                    <div class="visible-sm">
                        <i class="moga-down toggleTree"></i>
                    </div>
                    {{ translate({ ident: "CATEGORIES" }) }}
                </div>
                {{ include_widget({ cl: "oxwCategoryTree", cnid: oView.getCategoryId(), deepLevel: 0, noscript: 1, nocookie: 1 }) }}
            </div>
        {% endif %}
    {% endblock %}

    {% block sidebar_tags %}
    {% endblock %}

    {% block sidebar_partners %}
        {% if oView.getClassName() == "start" %}
            {% include "widget/sidebar/partners.html.twig" %}
        {% endif %}
    {% endblock %}

    {% block sidebar_boxproducts %}{% endblock %}

    {% block sidebar_news %}
        {% if oxcmp_news %}
            {% if oxcmp_news %}
                {% include "widget/sidebar/news.html.twig" with {oNews: oxcmp_news} %}
            {% endif %}
        {% endif %}
    {% endblock %}

    {% block sidebar_social %}
    {% endblock %}
{% endblock %}

