{% capture append = "oxidBlock_content" %}
    {% set template_title = "" %}
    {% if not oView.getLoginOption() and not oxcmp_user %}
        <div class="container-md py-5">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-8 col-xl-8 col-xxl-6">
                    <div class="row">
                        <div class="col-lg-7">
                            {% block checkout_user_main %}
                                {% include "page/checkout/inc/options.html.twig" %}
                            {% endblock %}
                        </div>
                        <div class="col-lg-5">
                            <div class="sticky-md-top">
                                {% include "page/checkout/inc/summary_sidebar.html.twig" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container-md py-5">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-8 col-xl-8 col-xxl-6">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="card mt-n2 active">

                                {% block checkout_user_noregistration %}
                                    {% if oView.getLoginOption() == 1 %}
                                        <h4 class="card-header card-title">
                                            {{ translate({ ident: "PURCHASE_WITHOUT_REGISTRATION" }) }}
                                        </h4>
                                        <div class="card-body">
                                            {% include "form/user_checkout_noregistration.html.twig" %}
                                        </div>
                                    {% endif %}
                                {% endblock %}

                                {% block checkout_user_registration %}
                                    {% if oView.getLoginOption() == 3 %}
                                        <h4 class="card-header card-title">
                                            {{ translate({ ident: "OPEN_ACCOUNT" }) }}
                                        </h4>
                                        <div class="card-body">
                                            {% include "form/user_checkout_registration.html.twig" %}
                                        </div>
                                    {% endif %}
                                {% endblock %}

                                {% block checkout_user_change %}
                                    {% if oxcmp_user %}
                                        <h4 class="card-header card-title">
                                            {{ translate({ ident: "ADDRESSES" }) }}
                                        </h4>
                                        <div class="card-body">
                                            {% include "form/user_checkout_change.html.twig" %}
                                        </div>
                                    {% endif %}
                                {% endblock %}
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="sticky-md-top">
                                {% include "page/checkout/inc/summary_sidebar.html.twig" %}

                                <button type="button" id="userFormSubmit" class="btn btn-highlight btn-lg w-100" onclick="document.getElementById('user_form').submit();">
                                    {{ translate({ ident: "NEXT" }) }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endcapture %}

{% include "layout/page.html.twig" with {active_step: 1}%}

