{% capture append = "oxidBlock_content" %}
    {% set template_title = "" %}
    {% if not oView.getLoginOption() and not oxcmp_user %}
        <div class="container-md py-5">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-8 col-xl-6">
                    <div class="row">
                        <div class="col-lg-7">
                            {% block checkout_user_main %}
                                {% include "page/checkout/inc/options.html.twig" %}
                            {% endblock %}
                        </div>
                        <div class="col-lg-5">
                            {% include "page/checkout/inc/summary_sidebar.html.twig" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container-xxl py-5">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10 col-xl-9">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="card done done-1">
                                <h4 class="card-header card-title">
                                    {{ translate({ ident: "MY_ACCOUNT" }) }}
                                </h4>
                            </div>
                            <div class="card mt-n2 active">
                                <h4 class="card-header card-title">
                                    Adressen
                                </h4>
                                <div class="card-body">
                                    {% block checkout_user_noregistration %}
                                        {% if oView.getLoginOption() == 1 %}
                                            {% include "form/user_checkout_noregistration.html.twig" %}
                                        {% endif %}
                                    {% endblock %}

                                    {% block checkout_user_registration %}
                                        {% if oView.getLoginOption() == 3 %}
                                            {% include "form/user_checkout_registration.html.twig" %}
                                        {% endif %}
                                    {% endblock %}

                                    {% block checkout_user_change %}
                                        {% if oxcmp_user %}
                                            {% include "form/user_checkout_change.html.twig" %}
                                        {% endif %}
                                    {% endblock %}
                                </div>
                            </div>
                            <div class="card mt-n2">
                                <h4 class="card-header card-title disabled">
                                    Versand & Zahlung
                                </h4>
                            </div>

                            <div class="card mt-n2">
                                <h4 class="card-header card-title disabled">
                                    Überprüfen
                                </h4>
                            </div>

                        </div>
                        <div class="col-lg-4">
                            {% include "page/checkout/inc/summary_sidebar.html.twig" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endcapture %}

{% include "layout/page.html.twig" %}

