{% if oxcmp_categories %}
    {% set categoriesTilesWidth = oViewConf.getViewThemeParam('showCategoryTilesWidth') %}
    {% set categoriesTilesGrid = oViewConf.getViewThemeParam('showCategoryTilesGrid') %}
    {% set categoriesTilesBg = oViewConf.getViewThemeParam('showCategoryTilesBg') %}
    {% set categoriesTilesSpacing = oViewConf.getViewThemeParam('showCategoryTilesSpacing') %}
    {% set categoriesTilesRowPadding = oViewConf.getViewThemeParam('showCategoryTilesRowPadding') %}

    <div class="container-xxl">
        <div class="categories">

            {% set categories = oxcmp_categories %}
            <div class="category-list">
                {% for _cat in categories %}
                    {% if _cat.getIsVisible() %}
                        <a class="btn btn-sm btn-tag btn-rounded" href="{{ _cat.getLink() }}">
                            {{ _cat.oxcategories__oxtitle.value }}
                        </a>
                    {% endif %}
                {% endfor %}
            </div>

        </div>
    </div>


{% endif %}
