{% if oxcmp_categories %}
    {% set categoriesTilesWidth = oViewConf.getViewThemeParam('showCategoryTilesWidth') %}
    {% set categoriesTilesGrid = oViewConf.getViewThemeParam('showCategoryTilesGrid') %}
    {% set categoriesTilesBg = oViewConf.getViewThemeParam('showCategoryTilesBg') %}
    {% set categoriesTilesSpacing = oViewConf.getViewThemeParam('showCategoryTilesSpacing') %}
    {% set categoriesTilesRowPadding = oViewConf.getViewThemeParam('showCategoryTilesRowPadding') %}

    {% if categoriesTilesWidth == 'container' %}
        <div class="container-xxl">
    {% endif %}
    <div class="categories my-4">
        {% if categoriesTilesWidth == 'w100cContainer' %}
        <div class="container-xxl">
            {% endif %}

            {% set categories = oxcmp_categories %}
            <div class="category-list pb-4 border-bottom">
                {% for _cat in categories %}
                    {% if _cat.getIsVisible() %}
                        <a class="btn btn-light btn-rounded" href="{{ _cat.getLink() }}">
                            {{ _cat.oxcategories__oxtitle.value }}
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
            {% if categoriesTilesWidth == 'w100cContainer' %}
        </div>
        {% endif %}
    </div>
    {% if categoriesTilesWidth == 'container' %}
        </div>
    {% endif %}


{% endif %}
