{% capture append = "oxidBlock_pageBody" %}

  <div class="errorBox">
      <div class="errHead">[{oxmultilang ident="{{ translate({ ident: "ERROR_MESSAGE_UNKNOWN_ERROR" }) }} #{{ oView.getErrorNumber() }} !</div>
      <div class="errBody">{{ translate({ ident: "MESSAGE_PLEASE_CONTACT_SUPPORT" }) }}</div>
  </div>

{% endcapture %}
{% include "layout/base.html.twig" %}