{% capture append = "oxidBlock_content" %}
    <p>{% ifcontent ident "oxblocked" set oCont %}
           {{ oCont.oxcontents__oxcontent.value }}
      {% endifcontent %}</p>
{% endcapture %}

{% include "layout/page.html.twig" %}
