<div class="ratings mb-3">
    {% set iRatingValue = oView.getRatingValue() %}
    {% if not oxcmp_user %}
        {% set _star_title = "MESSAGE_LOGIN_TO_RATE"|translate %}
    {% elseif not oView.canRate() %}
        {% set _star_title = "MESSAGE_ALREADY_RATED"|translate %}
    {% else %}
        {% set _star_title = "MESSAGE_RATE_THIS_ARTICLE"|translate %}
    {% endif %}


    {% for starRatings in 1..5 %}
        {% if iRatingValue == 0 %}
            <svg aria-hidden="true" class="star">
                <use xlink:href="#star"></use>
            </svg>
        {% else %}
            {% if iRatingValue > 1 %}
                <svg aria-hidden="true" class="star-fill">
                    <use xlink:href="#star-fill"></use>
                </svg>
                {% set iRatingValue = iRatingValue-1 %}
            {% else %}
                {% if iRatingValue < 0.5 %}
                    {% if iRatingValue < 0.3 %}
                        <svg aria-hidden="true" class="star-fill">
                            <use xlink:href="#star-fill"></use>
                        </svg>
                    {% else %}
                        <svg aria-hidden="true" class="star-half">
                            <use xlink:href="#star-half"></use>
                        </svg>
                    {% endif %}
                    {% set iRatingValue = 0 %}
                {% elseif iRatingValue > 0.8 %}
                    <svg aria-hidden="true" class="star-fill">
                        <use xlink:href="#star-fill"></use>
                    </svg>
                    {% set iRatingValue = 0 %}
                {% else %}
                    <svg aria-hidden="true" class="star-half">
                        <use xlink:href="#star-half"></use>
                    </svg>
                    {% set iRatingValue = 0 %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}


    <span class="total">({{ oView.getRatingCount() }})</span>
</div>
