{% capture append = "oxidBlock_content" %}
    {# oxscript include="js/pages/review.min.js" priority=10 #}

    {% if oView.getProduct() %}
        {% set product = oView.getProduct() %}
        {% set _productLink = product.getLink() %}

        <div class="container-xxl" id="{{ listId }}">
            <div class="row lineView newItems">
                {% block widget_product_listitem_line_picturebox %}
                    <div class="productData col-12 productBox">
                        {{ include_widget({ cl: "oxwArticleBox", _parent: oView.getClassKey(), nocookie: 1, iLinkType: product.getLinkType(), _object: product, anid: product.getId(), sWidgetType: "product", sListType: "listitem_line", iIndex: "list_1", blDisableToCart: true, isVatIncluded: oView.isVatIncluded(), showMainLink: true, toBasketFunction: false, removeFunction: false, skipESIforUser: 1 }) }}
                    </div>
                {% endblock %}
            </div>
        </div>
    {% endif %}

    {% if oView.isReviewActive() %}
        <div class="container-xxl">
            <div class="row">
                <div class="col-12">
                    <div class="reviews">
                        <h4>{{ translate({ ident: "WRITE_PRODUCT_REVIEW" }) }}</h4>
                        {% include "widget/reviews/reviews.html.twig" with {sReviewUserHash: oView.getReviewUserHash(), oDetailsProduct: oView.getProduct(), oReviewUser: oView.getReviewUser()} %}
                    </div>
                </div>
            </div>
        </div>

    {% endif %}
{% endcapture %}
{% include "layout/page.html.twig" with {sidebar: "Left"} %}
