{% set template_title = "REGISTER"|translate %}
{% capture append = "oxidBlock_content" %}
    <div class="container-xxl">
        <h1 class="h2">{{ translate({ ident: "LOGIN" }) }}</h1>
        {% include "form/login_account.html.twig" %}
    </div>
    {{ insert_tracker({title: template_title}) }}
{% endcapture %}

{% include "layout/page.html.twig" %}
