{% capture append = "oxidBlock_content" %}
    {% set template_title = "CHANGE_PASSWORD"|translate %}

    {% if oView.isPasswordChanged() %}
        <div class="alert alert-success">
            {{ translate({ ident: "MESSAGE_PASSWORD_CHANGED" }) }}
        </div>
    {% endif %}
    {% if Errors|is_array and Errors.user|is_array and not empty(Errors.user) %}
        <div class="alert alert-danger">
            {% for key, oEr in Errors.user %}
                <p>{{ oEr.getOxMessage() }}</p>
            {% endfor %}
        </div>
    {% endif %}
    <div class="container-xxl py-5">
        <div class="row">
            <h3 class="page-header col pl-0 ml-3">
                {{ translate({ ident: "CHANGE_PASSWORD" }) }}
            </h3>
            <div class="col-12 col-sm-3 button-col">
                {% include "page/account/inc/account_menu.html.twig" with {active_link: "password"} %}
            </div>
        </div>

        {% include "form/user_password.html.twig" %}
    </div>

{% endcapture %}

{% include "layout/page.html.twig" %}
