{% capture append = "oxidBlock_content" %}
    {% set template_title = "LISTMANIA"|translate %}
    {% set _actvrecommlist = oView.getActiveRecommList() %}
    <div class="container-xxl py-5">
        <div class="row">
            <h3 class="page-header col pl-0 ml-3">
                {{ translate({ ident: "LISTMANIA" }) }}
            </h3>
            <div class="col-12 col-sm-3 button-col">
                {% include "page/account/inc/account_menu.html.twig" with {active_link: "recommendationlist"} %}
            </div>
        </div>

        {% if oView.isSavedList() %}
            {% set _statusMessage = "LISTMANIA_LIST_SAVED"|translate %}
            {% include "message/success.html.twig" with {statusMessage: _statusMessage} %}
        {% endif %}

        {% block account_redommendationlist_content %}

            {% include "form/recommendation_edit.html.twig" with {actvrecommlist: _actvrecommlist} %}

            <hr>

            {% if not oView.getActiveRecommList() %}
                {% set blEdit = true %}
                {% include "page/recommendations/inc/list.html.twig" %}
            {% endif %}
        {% endblock %}
    </div>
    {{ insert_tracker({title: template_title}) }}
{% endcapture %}
{% include "layout/page.html.twig" with {sidebar: "Left"} %}

