{% capture append = "oxidBlock_content" %}
    <div class="container-xxl">
        {% set template_title = "MESSAGE_WELCOME_REGISTERED_USER"|translate %}
        <h3>{{ translate({ ident: "MESSAGE_WELCOME_REGISTERED_USER" }) }}</h3>
        <div class="box info">
          {{ translate({ ident: "MESSAGE_ACCOUNT_REGISTRATION_CONFIRMED" }) }}
        </div>
    </div>
    {{ insert_tracker({title: template_title}) }}
{% endcapture %}
{% include "layout/page.html.twig" %}

