{% set iManufacturerLimit = "20" %}
{% set manufacturers = oView.getManufacturerlist() %}
{% if manufacturers %}
    {% if manufacturers|length %}
        {% block footer_manufacturers %}
            <nav class="nav flex-column">
                {% set rootManufacturer = oView.getRootManufacturer() %}
                <a class="nav-link" href="{{ rootManufacturer.getLink()|raw }}">{{ translate({ ident: "ALL_BRANDS" }) }}</a>
                {% for _mnf in manufacturers %}
                    {% if loop.index0 < iManufacturerLimit and _mnf.oxmanufacturers__oxnrofarticles != "0" %}
                    <a class="nav-link" href="{{ _mnf.getLink()|raw }}">
                        {{ _mnf.oxmanufacturers__oxtitle.value }}
                    </a>
                    {% endif %}
                {% endfor %}
            </nav>
        {% endblock %}
    {% endif %}
{% endif %}
