{% capture append = "oxidBlock_content" %}
{% include_content 'oxstartwelcome' %}

    {% if oViewConf.getViewThemeParam('showCategoryTiles') %}
        {% include "widget/categories.html.twig" %}
    {% endif %}

    {# % block start_promoslider %}
        {% if oView.getBanners() and not empty(oView.getBanners()) %}
            {% include "widget/promotiles.html.twig" %}
        {% endif %}
    {% endblock %#}
{#
    {% block start_welcome_text %}
        {% ifcontent ident "oxstartwelcome" set oCont %}
            {% set welcomeTextWidth = oViewConf.getViewThemeParam('sWelcomeTextWidth') %}
            <div class="container{% if welcomeTextWidth == 'container' %}-xxl {% else %}-fluid {% endif %}welcome-teaser py-5">
                {{ oCont.oxcontents__oxcontent.value }}
            </div>
        {% endifcontent %}
    {% endblock %}
#}
    {% block start_newest_articles %}
        {% set showNewest = oViewConf.getViewThemeParam('sShowNewestArticles') %}
        {% if showNewest %}
            {% set oNewestArticles = oView.getNewestArticles() %}
            {% set newestWidth = oViewConf.getViewThemeParam('sNewestWidth') %}
            <div class="article-slider row-spacer">
                {% if oNewestArticles and oNewestArticles.count() %}
                    {% include "widget/product/list-slider.html.twig" with {head: "START_NEWEST_HEADER"|translate, subhead: "START_NEWEST_SUBHEADER"|translate, listId: "newItems", products: oNewestArticles, showMainLink: true, iProductsPerLine: 4} %}
                {% endif %}
            </div>
        {% endif %}
    {% endblock %}

    {% block start_top_articles %}
        {% set showTop = oViewConf.getViewThemeParam('sShowTopArticles') %}
        {% if showTop %}
            {% set topWidth = oViewConf.getViewThemeParam('sTopWidth') %}
            {% set oTopArticles = oView.getTop5ArticleList() %}
            <div class="article-slider row-spacer">
                {% if oTopArticles and oTopArticles.count() %}
                    {% include "widget/product/list-slider.html.twig" with {head: "START_TOP_PRODUCTS_HEADER"|translate, subhead: "START_TOP_PRODUCTS_SUBHEADER"|translate(oTopArticles.count()), listId: "topBox", products: oTopArticles, showMainLink: true, iProductsPerLine: 2} %}
                {% endif %}
            </div>
        {% endif %}
    {% endblock %}

    {% block start_bargain_articles %}
        {% set showBargain = oViewConf.getViewThemeParam('sShowBargainArticles') %}
        {% if showBargain %}
            {% set oBargainArticles = oView.getBargainArticleList() %}
            {% set bargainWidth = oViewConf.getViewThemeParam('sBargainWidth') %}
            <div class="article-slider row-spacer">
                {% if oBargainArticles and oBargainArticles.count() %}
                    {% include "widget/product/list-slider.html.twig" with {head: "START_BARGAIN_HEADER"|translate, subhead: "START_BARGAIN_SUBHEADER"|translate, listId: "bargainItems", products: oBargainArticles, showMainLink: true, iProductsPerLine: 4} %}
                {% endif %}
            </div>
        {% endif %}
    {% endblock %}

    {% block start_manufacturer_slider %}
        {% if oViewConf.getViewThemeParam('bl_showManufacturer') %}
            {% include "widget/manufacturer.html.twig" %}
        {% endif %}
    {% endblock %}
{% endcapture %}
{% include "layout/page.html.twig" %}
