{% capture append = "oxidBlock_content" %}
    {% set oConfig = oViewConf.getConfig() %}
    {% set rsslinks = oView.getRssLinks() %}

    {% block start_promoslider %}
        {% set promo = oViewConf.getViewThemeParam('bl_showPromo') %}

        {% if oView.getBanners() and not empty(oView.getBanners()) %}
            {% if promo == "Slider" %}
                {% include "widget/promoslider.html.twig" %}
            {% endif %}

            {% if promo == "Tiles" %}
                {% include "widget/promotiles.html.twig" %}
            {% endif %}
        {% endif %}
    {% endblock %}

    {% if oViewConf.getViewThemeParam('showCategoryTiles') %}
        {% include "widget/categories.html.twig" %}
    {% endif %}

    {% block start_welcome_text %}
        {% ifcontent ident "oxstartwelcome" set oCont %}
            {% set welcomeTextWidth = oViewConf.getViewThemeParam('sWelcomeTextWidth') %}
            <div class="container{% if welcomeTextWidth == 'container' %}-xxl {% else %}-fluid {% endif %}welcome-teaser py-5">
                {{ oCont.oxcontents__oxcontent.value }}
            </div>
        {% endifcontent %}
    {% endblock %}

    {% block start_bargain_articles %}
        {% set showBargain = oViewConf.getViewThemeParam('sShowBargainArticles') %}
        {% if showBargain %}
            {% set oBargainArticles = oView.getBargainArticleList() %}
            {% set bargainWidth = oViewConf.getViewThemeParam('sBargainWidth') %}
            <div class="article-list">
                {% if oBargainArticles and oBargainArticles.count() %}
                    {% if bargainWidth == 'container' %}
                        <div class="container-xxl">
                    {% endif %}
                            <div class="py-3 py-lg-5 text-center container{% if bargainWidth == 'w100cContainer' %}-xxl{% else %}-fluid{% endif %}">
                                {% include "widget/product/list.html.twig" with {type: oViewConf.getViewThemeParam('sStartPageListDisplayType'), head: "START_BARGAIN_HEADER"|translate, subhead: "START_BARGAIN_SUBHEADER"|translate, listId: "bargainItems", products: oBargainArticles, rsslink: rsslinks.bargainArticles, rssId: "rssBargainProducts", showMainLink: true, iProductsPerLine: 4} %}
                            </div>
                    {% if bargainWidth == 'container' %}
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
    {% endblock %}

    {% block start_manufacturer_slider %}
        {% if oViewConf.getViewThemeParam('bl_showManufacturer') %}
            {% include "widget/manufacturer.html.twig" %}
        {% endif %}
    {% endblock %}

    {% block start_newest_articles %}
        {% set showNewest = oViewConf.getViewThemeParam('sShowNewestArticles') %}
        {% if showNewest %}
            {% set oNewestArticles = oView.getNewestArticles() %}
            {% set newestWidth = oViewConf.getViewThemeParam('sNewestWidth') %}
            <div class="article-list">
                {% if oNewestArticles and oNewestArticles.count() %}
                    {% if newestWidth == 'container' %}
                        <div class="container-xxl">
                    {% endif %}
                            <div class="py-5 text-center container{% if newestWidth == 'w100cContainer' %}-xxl{% else %}-fluid{% endif %}">
                                {% include "widget/product/list.html.twig" with {type: oViewConf.getViewThemeParam('sStartPageListDisplayType'), head: "START_NEWEST_HEADER"|translate, subhead: "START_NEWEST_SUBHEADER"|translate, listId: "newItems", products: oNewestArticles, rsslink: rsslinks.newestArticles, rssId: "rssNewestProducts", showMainLink: true, iProductsPerLine: 4} %}
                            </div>
                    {% if newestWidth == 'container' %}
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
    {% endblock %}

    {% block start_top_articles %}
        {% set showTop = oViewConf.getViewThemeParam('sShowTopArticles') %}
        {% if showTop %}
            {% set topWidth = oViewConf.getViewThemeParam('sTopWidth') %}
            {% set oTopArticles = oView.getTop5ArticleList() %}
            <div class="article-list">
                {% if oTopArticles and oTopArticles.count() %}
                    {% if topWidth == 'container' %}
                        <div class="container-xxl">
                    {% endif %}
                            <div class="py-5 text-center container{% if topWidth == 'w100cContainer' %}-xxl{% else %}-fluid{% endif %}">
                                {% include "widget/product/list.html.twig" with {type: "grid", head: "START_TOP_PRODUCTS_HEADER"|translate, subhead: "START_TOP_PRODUCTS_SUBHEADER"|translate(oTopArticles.count()), listId: "topBox", products: oTopArticles, rsslink: rsslinks.topArticles, rssId: "rssTopProducts", showMainLink: true, iProductsPerLine: 2} %}
                            </div>
                    {% if topWidth == 'container' %}
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
    {% endblock %}
{% endcapture %}
{% include "layout/page.html.twig" %}
