{% set shop = oEmailView.getShop() %}
{% set oViewConf = oEmailView.getViewConfig() %}
{% set user = oEmailView.getUser() %}

{% include "email/html/header.html.twig" with {title: "DD_NEWSLETTER_OPTIN_HEADING"|translate} %}

<p>{% include_content 'oxnewsletteremail' %}</p>

{% include "email/html/footer.html.twig" %}