{% set sContentName = oView.getRDFaDeliveryChargeSpecLoc() %}
{% set oDeliveryMethods = oView.getRDFaDeliverySetMethods() %}
{% for oDelSetMethod in oDeliveryMethods %}
    {% if oDelSetMethod.oxdeliveryset__oxobjectid.value %}
        <div rel="schema:availableDeliveryMethod"
             resource="http://purl.org/goodrelations/v1#{{ oDelSetMethod.oxdeliveryset__oxobjectid.value }}">
        </div>
    {% else %}
        {% ifcontent ident sContentName set oCont %}
        <div rel="schema:availableDeliveryMethod"
             resource="{{ oCont.getLink()|raw }}#{{ [oDelSetMethod.oxdeliveryset__oxtitle.value, oDelSetMethod.oxdeliveryset__oxid.value]|join('_')|striptags|trim }}">
        </div>
        {% endifcontent %}
    {% endif %}
{% endfor %}
{% ifcontent ident sContentName set oCont %}
    {% for oDelivery in oView.getProductsDeliveryList() %}
        <div rel="priceSpecification" resource="{{ oCont.getLink()|raw }}#{{ oDelivery.getId() }}"></div>
    {% endfor %}
{% endifcontent %}
